@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-primary: #F15757;
  --yellow-primary: #F88E12;
  --black-secondary: rgba(0, 0, 0, 0.6);
}


@layer components {
  .container {
    @apply max-w-[1440px] mx-auto
  }
  .flexx {
    @apply flex items-center
  }
  .flex-center {
    @apply flex items-center justify-center
  }
  .flex-between {
    @apply flex items-center justify-between
  }
  .flex-evenly {
    @apply flex items-center justify-evenly
  }
}
